@font-face {
    font-family: Ermilov;
    font-weight: 700;
    src: url('./../../../public/fonts/Ermilov-Bold.woff');
}

@font-face {
    font-family: Calibri;
    font-weight: 700;
    src: url('./../../../public/fonts/Calibri-Bold.woff');
}
@font-face {
    font-family: Calibri;
    font-weight: 300;
    src: url('./../../../public/fonts/Calibri-Light.woff');
}
@font-face {
    font-family: Calibri;
    font-weight: 300;
    font-style: italic;
    src: url('./../../../public/fonts/Calibri-Light-Italic.woff');
}
@font-face {
    font-family: Calibri;
    font-weight: 400;
    src: url('./../../../public/fonts/Calibri-Regular.woff');
}
@font-face {
    font-family: Calibri;
    font-weight: 400;
    font-style: italic;
    src: url('./../../../public/fonts/Calibri-Italic.woff');
}

@font-face {
    font-family: Rubik;
    font-weight: 700;
    src: url('./../../../public/fonts/Rubik-Bold.woff');
}
@font-face {
    font-family: Rubik;
    font-weight: 800;
    src: url('./../../../public/fonts/Rubik-ExtraBold.woff');
}
@font-face {
    font-family: Rubik;
    font-weight: 600;
    src: url('./../../../public/fonts/Rubik-SemiBold.woff');
}
@font-face {
    font-family: Rubik;
    font-weight: 400;
    src: url('./../../../public/fonts/Rubik-Regular.woff');
}